body
{
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: normal;
}

table
{
	overflow: hidden;
	border-collapse: collapse;
	margin: 20px auto;
	border-radius: 20px;
}

tr
{
	width: auto;
	height: 50px;
}


td
{
	text-align: center;
	padding: 20px;
}

tr:nth-child(1n + 2) > td:first-child
{
	text-align: left;
}

tr:first-child > td:nth-child(1)
{
	background-color: #B0C4DE;
}

tr:first-child > td:nth-child(2)
{
	background-color: #6495ED;
}

tr:first-child > td:nth-child(3)
{
	background-color: #4169E1;
}

tr:first-child > td:nth-child(4)
{
	background-color: #000080;
}

tr:first-child > td:nth-child(5)
{
	background-color: 	#191970;
}

tr:nth-child(2n) td:nth-child(2n)
{
	background-color: #F0F0F0;
}

tr:nth-child(2n + 2) td:nth-child(2n + 1)
{
	background-color: #C0C0C0;
}

tr:nth-child(2n + 3) td:nth-child(2n)
{
	background-color: #FFFFFF;
}

tr:nth-child(2n + 3) td:nth-child(2n + 1)
{
	background-color: #E8E8E8;
}

tr:first-child
{
	color: whitesmoke;
	height: 100px;
}

/*tr:last-child > td:nth-child(1n+2)
{
	outline: 1px solid black;
	outline-offset: -10px;
}
*/
div
{
	width: 60px;
	height: 20px;
	text-align: center;
	border: 1px solid black;
	margin: 2px auto;
	padding: 5px;
	background-color: #C0C0C0;
}

div:hover
{
	background-color: #EE82EE;
}

p:nth-child(1)
{
	font-weight: bold;
	margin: 0px 20px 0px 20px;
	vertical-align: text-top;
}

p:nth-child(2)
{
	font-weight: bold;
	margin: 30px 20px 0px 20px;
	vertical-align: text-bottom;
}

span
{
	font-weight: bold;
	font-size: 30px;
}


